.container {
    min-width: 500px;
    min-height: 500px;
    background-color: rgba(3, 97, 97, 0.39);
    padding: 4rem;
    border-radius: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 4rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 4rem;
    min-width: 200px;
    min-height: 200px;
  }
}


@media (max-width: 400px) {
  .container {
    padding: 2.8rem;
  }
}
                                                                                                                                                                                                                                                                                                                                            