.container {
    min-width: 500px;
    min-height: 500px;
    background-color: rgba(3, 97, 97, 0.39);
    padding: 4rem;
    border-radius: 5px;
}

                                                                                                                                                                                                                                                                                                                                            