#calc-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .4rem;
    color: #ccc;
}

.form-control input {
    padding: .8rem .5rem;
}

.action-control {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}


@media (max-width: 480px) {
  #calc-container {
    padding: .8rem;
  }
  #calc-container h2 {
    font-size: 1.8rem;
  }

  .form-control input {
    font-size: .9rem;
  }
}